<app-navbar>

</app-navbar>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-2"></div>

        <div class="col-md-4 card" *ngFor="let x of foodmenu">
            <img class="card-img-top" src="{{x.picture}}" alt="Card image cap" width="100%" height="150px">
            <div class="card-body">
              <h5 class="card-title">{{x.name}}</h5>
              <div class="container">
              
                  <span class="row">
                    <span class="font-weight-bold">
                      <h4>

                        First Open Date:
                      </h4>
                    </span>
                      {{x.firstopen_date}}
                      {{x.hour_close}}
                      {{x.hour_open}}
                      {{x.locationid}}
                      {{x.manager_name}}
                      {{x.name}}
                      {{x.phone_number}}
                      
                      {{x.restaurantid}}
                      {{x.street_address}}
                      {{x.type}}
                      {{x.url}}
                      
                    
                  </span>
                  <span class="row">
        
                    {{x.restaurantid}}
                  </span>
                  <span class="row">
        
                    {{x.street_address}}
                  </span>
                  <span class="row">
        
                    {{x.type}}
                  </span>
                  <span class="row">
        
                    {{x.url}}
                  </span>
              </div>
            </div>
          </div>
          <div class=""></div>
    </div>
  </div>
</div>
