<app-navbar></app-navbar>
<div class="container" >
  <div class="row">
    <!-- <router-outlet></router-outlet> -->
    <div class="col-12 jumbotron img" >
      <form  (ngSubmit)="searchDatabase()" >
          <h1 class="pull-right">
              GoodFood!
          </h1>  
          <p>
            Search all of our best Restaurant to find your choice of Food!
          </p>        
          
          <div class="form-group input-group mb-3 justify-content-md-center align-self-center">
              <input  type="text" class="form-control"
              name="searchbox"
              [(ngModel)]="searchInput"
              placeholder="Search for Restaurant or Cuisin"
              aria-label="Search" >
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
              </div>
          </div>
      </form>
     
      
    </div>
  </div>
  <div class="row jumbotron align-items-center ">
      <h1 class="text text-center">
          Top Reviewed Food of the Week!
      </h1>
      <div class="container ">
        <div class="row">
            <div class="col-3 card-small" *ngFor="let food of topRatedFood">
              <div class="row" (click)="onSelect(food)" routerLink="/foods">
                  <div class="row align-items-center color-bg rounded" (click)="alertMe(food)">
                
                      <img class="col-12 col-md-5 rounded " width="70px" height="90px" alt="Grandfather with child" 
                      src="https://design-milk.com/images/2016/08/Shade-Burger-YOD-studio-1.jpg" sizes="(max-width: 650px) 100vw, 650px">
                      
                      <div class="col- col-md-7">

                        <div class="card-body">
                          <h6 class="small font-weight-bold">{{food.type}}</h6>
                          <!-- <hr class="half-rule"/> -->
                          <p class="small">Total Reviews: {{food.total_reviews}}</p>
                          <!-- <a class="text">Contact Us</a> -->
          
                        </div>
                      </div>
                  </div>
              </div>
                
            </div>
        </div>
        
          
      </div>
      
      
  </div>
  <div class="row" >
    <div class="col-4 " *ngFor="let restaurant of restaurants" >
        <div class="card"   data-toggle="modal" data-target="#restaurantModal">
            <img class="card-img-top" (click)="onSelectRestaurant(restaurant)" src="https://media-cdn.tripadvisor.com/media/photo-s/0d/5d/4a/f3/salle-de-restaurant.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{restaurant.name}}</h5>
              <p class="card-text">
                {{restaurant.type}}
              </p>
              <p class="card-text"><small class="text-muted">{{restaurant.url}}</small></p>
            </div>
            <button class="btn btn-primary" routerLink="/menu" (click)="select(restaurant)">
              Show Menu!
            </button>
          </div>
    </div>

  </div>
</div>


<!-- 

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#restaurantModal">
    
  </button> -->
  
  <!-- Modal -->
  