<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
    <div class="col-12 jumbotron" >
      <h1>
        GoodFood!
      </h1>  
      <p>
        This is a template for a simple marketing or informational website. 
        It includes a large callout called a jumbotron and three supporting pieces of content. 
        Use it as a starting point to create something more unique.
      </p>        
     
      <div class="input-group mb-3 justify-content-md-center align-self-center">
          <input type="text" class="form-control" placeholder="Search for Restaurant or Cuisin" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">Search</button>
          </div>
      </div>
      
    </div>
  </div>
  <div class="row jumbotron">
      <h1 class="text text-center">
          Top Reviewed Food of the Week!
      </h1>
      <p>
        This restaurant serves the best food in the region. Lorem ipsum dolor, 
        sit amet consectetur adipisicing elit. Exercitationem, dolore. 
        Adipisci veniam blanditiis aliquid nisi est officia eligendi, 
        assumenda excepturi veritatis optio eius aspernatur fuga soluta labore voluptatibus sit doloremque!
      </p>
      <button class="btn btn-primary center-block" >
          Show me the Menu!
      </button>
  </div>
  <div class="row">
    <div class="col-4">
      <h1>
        Restaurant 1
      </h1>
      <p>
        This restaurant serves the best food in the region. Lorem ipsum dolor, 
        sit amet consectetur adipisicing elit. Exercitationem, dolore. 
        Adipisci veniam blanditiis aliquid nisi est officia eligendi, 
        assumenda excepturi veritatis optio eius aspernatur fuga soluta labore voluptatibus sit doloremque!
      </p>
      <button class="btn btn-primary center-block">
          Show me!
        </button>
    </div>
    <div class="col-4">
        <h1>
          Restaurant 2
        </h1>
        <p>
          This restaurant serves the best food in the region. Lorem ipsum dolor, 
          sit amet consectetur adipisicing elit. Exercitationem, dolore. Adipisci 
          veniam blanditiis aliquid nisi est officia eligendi, assumenda excepturi 
          veritatis optio eius aspernatur fuga soluta labore voluptatibus sit doloremque!
        </p>
        <button class="btn btn-primary">
          Show me!
        </button>
      </div>
      <div class="col-4">
          <h1>
            Restaurant 3
          </h1>
          <p>
            This restaurant serves the best food in the region. Lorem ipsum dolor, 
            sit amet consectetur adipisicing elit. Exercitationem, dolore. 
            Adipisci veniam blanditiis aliquid nisi est officia eligendi, 
            assumenda excepturi veritatis optio eius aspernatur fuga soluta labore voluptatibus sit doloremque!
          </p>
          <button class="btn btn-primary text-center">
              Show me!
            </button>
        </div>

  </div>
</div>