@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');

.navbar{
    background: #0f0c29;  /* fallback for old browsers */
    background-image: linear-gradient(to bottom, #707070, #707070, #707070, #707070, #707070);
  }
.navbar-light .navbar-brand {
    color:  #ffffff;
    font: url(https://fonts.googleapis.com/css?family=Barlow+Condensed);
}
.navbar .nav-item  a:active {
    color: #ffffff;
}
  
.navbar .nav-item  a {
    color: #000000;
}
