<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Register</h5>
          <button type="button" class="Cancel" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-12">
                  <form type="form" #formData="ngForm"  (ngSubmit)="postUserData(formData)"
                  >

                    <h3 class="small text-center font-weight-bold">Please Sign up to rate your favourite restaurants</h3>
                    <hr class="colorgraph">
                    
                    <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                          
                          <input [(ngModel)]= "user.firstName" 
                          name="firstName"
                          type="text"  
                          #firstName="ngModel"
                          required
                          class="form-control input-lg" 
                          placeholder="First Name" tabindex="1">
                          <div class="small text-center text-danger" [hidden]="firstName.valid || firstName.pristine">
                            First Name is required <sup>*</sup>
                          </div>

                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                          
                          <input [(ngModel)]= "user.lastName" 
                          name="lastName"
                          type="text" 
                          #lastName="ngModel"
                          required
                          class="form-control input-lg" 
                          placeholder="Last Name" tabindex="2">
                          <div class=" small text-center text-danger"[hidden]="lastName.valid || lastName.pristine">
                              
                            Last Name is required <sup>*</sup>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      
                      <input [(ngModel)]= "user.userName" 
                      name="userName"
                      type="text"  
                      #userName="ngModel"
                      required
                      class="form-control input-lg" 
                      placeholder="User Name" tabindex="3">
                      <div class=" small text-center text-danger" [hidden]="userName.valid || userName.pristine">
                            UserName is required <sup>*</sup>

                      </div>

                    </div>
                    <div class="form-group">
                      
                      <input [(ngModel)]= "user.email" 
                      name="email"
                      type="email" 
                      #email="ngModel"
                      class="form-control input-lg" 
                      required
                      email
                      placeholder="Email Address" tabindex="4"> 
                      <div class=" small text-center text-danger" [hidden]="email.valid || email.pristine">
                          Email is required <sup>*</sup>
                      </div>
                      

                    </div>
                    <div class="form-group">
                        <select [(ngModel)]= "user.selectedValue" 
                        name="selectedValue"
                        class="form-control selectpicker" 
                        #selectedValue="ngModel"
                        required
                        data-ng-options="t.name for t in vm.types" data-ng-model="vm.object.type">

                            <option value="" placeholder="Please" selected disabled>Please Select Rater Type</option>
                            <option>Blog</option>
                            
                          </select>
                          <div class=" small alert alert-warning" [hidden]="selectedValue.valid || selectedValue.pristine">
                              Type is required <sup>*</sup>
                          </div>
                      </div>
                      <!-- {{formData.email}} -->
                    <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                          
                          <input [(ngModel)]= "user.password" 
                          name="password"
                          type="password" 
                          #password="ngModel"
                          required
                          minlength="6"
                          class="form-control input-lg" 
                          placeholder="Password" tabindex="5">

                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                          
                          <input [(ngModel)]= "user.passwordConfirmation" 
                          name="passwordConfirmation"
                          type="password" 
                          #passwordConfirmation="ngModel"
                          class="form-control input-lg" 
                          required
                          minlength="6"
                          placeholder="Confirm Password" tabindex="6">

                        </div>
                      </div>
                    </div>
                      <div class=" text-center small alert alert-warning"  *ngIf="isMatch()">
                          <!-- <div class=" text-center small alert alert-warning"  *ngIf="((password.invalid || passwordConfirmation.invalid))">
                              Passwords must be more than 6 Characters <sup>*</sup>
                          </div> -->
                          Passwords must be 6 characters and  match <sup>*</sup>
                      </div>
                      
                    <hr class="colorgraph">
                    <div class="row">
                      <div class="col-xs-12 col-md-6" data-dismiss="modal">
                        <input value="Cancel" class="btn btn-danger btn-block btn-lg" >
                      </div>
                      <div class="col-xs-12 col-md-6">
                        
                        <button type="submit" 
                        [disabled]="!formData.valid"
                        class="btn btn-success btn-block btn-lg"
                        >Sign Up</button>
                      </div>
                    </div>
                    
                  </form>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="container">
            
            <div class="row">
              <div class="col-xs-8 col-sm-9 col-md-12 text-center font-weigth-small small">
                  By clicking <strong class="label label-primary">
                  Register</strong>, you agree to our 
                  <a href="#" data-toggle="modal" data-target="#terms">
                  Terms and Conditions</a>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="terms" tabindex="-1" role="dialog" aria-labelledby="terms" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" >Terms and Condition</h5>
                  <button type="button" class="Cancel" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              <div class="modal-body jumbotron">
                <div class="jumbotron bg-faded">
                  <p>
                    There are no Terms and Warranty regarding this service.
                  </p>
                </div>
            </div>
          </div>
        </div>
      </div>
  </div>