
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Log In</h5>
          <button type="button" class="Cancel" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #loginCredentials="ngForm" (ngSubmit)="authenticateUser(loginCredentials)" [formGroup]="loginForm">
          <div class="container">
                  <div class="row ">
                    <div class="col-12 text-center">

                      <strong class="small text-center text-danger" [hidden]="loginForm.valid">
                        Enter your Credentials! <sup>*</sup>
                      </strong>
                    </div>

                  </div>
                  <div class="row">
                    <div class="form-group col-12">
                      <input type="text" name="userName" formControlName="userName"
                      class="form-control input-lg" placeholder="User Name" tabindex="3">
                    </div>
                  </div>
                    <div class="row">
                      <div class="form-group col-12">
                        <input type="password" name="password" formControlName="password" 
                        class="form-control input-lg" placeholder="Password" tabindex="4">
                      </div>
                    </div>
                  
                  <a class="small form-text text-muted text-center row" href="#">Forgot Password?</a>            
                  
              </div>
              <hr class="colorgraph">
                       
              <div class="container">
      
                <div class="row">
                  <div class="col-xs-12 col-md-6" data-dismiss="modal">
                    <input value="Cancel" class="btn btn-danger btn-block btn-lg" >
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <button type="submit" [disabled]="!loginCredentials.valid"
                    class="btn btn-success btn-block btn-lg">Sign In</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          
      
      </div>
    </div>
  </div>